extends ../../../views/layout

block content
    div.top
        form.form-horizontal(method="post", id="loginForm")
            label Username
            input.span3(id="username", type="text", name="User", placeholder="Enter your username")
            label Password
            input.span3(id="password", type="password", name="Password")
            input.btn(type="submit", value="Log In")
    div.container
        div.content
            table.table.table-striped
                thead
                    tr
                        th Table
                        th Heading
                tbody
                    tr
                        td Blah
                        td Test
                    tr
                        td Hello
                        td World
        div.image
            img(src = "http://25.media.tumblr.com/efcc2756d2d9bb47afe688beef4d02db/tumblr_mmvbnt9EUQ1rfa2bpo1_500.jpg", class="img-polaroid")
    
 
    