extends ../../../views/layout

block content
    div.main
        div#flipbook.default
            div.row-fluid
                div.span1.nav
                    div.row-fluid
                        img(src = "http://25.media.tumblr.com/efcc2756d2d9bb47afe688beef4d02db/tumblr_mmvbnt9EUQ1rfa2bpo1_250.jpg", class="img-polaroid one")            
                    div.row-fluid
                        img(src = "http://24.media.tumblr.com/efcc2756d2d9bb47afe688beef4d02db/tumblr_mmvbnt9EUQ1rfa2bpo1_75sq.jpg", class="img-polaroid three")
                    div.row-fluid
                        img(src = "http://24.media.tumblr.com/efcc2756d2d9bb47afe688beef4d02db/tumblr_mmvbnt9EUQ1rfa2bpo1_100.jpg", class="img-polaroid four")   
                div.span4.nav                        
                    img(src = "http://24.media.tumblr.com/efcc2756d2d9bb47afe688beef4d02db/tumblr_mmvbnt9EUQ1rfa2bpo1_500.jpg", class="img-polaroid two")
        
    
 
    